<%= turbo_frame_tag 'edit_sources', class: "mt-6" do %>
  <div class='mb-8 border rounded border-beige bg-lightblue w-full p-6'>
    <h2 class="font-semibold pb-4">Modifier mes sources</h2>
    <%= render 'form', sources: @sources, user_sources: @user_sources, locale: @locale %>
  </div>
<% end %>
