<section class="show-url-container w-8/12 h-1/2 mx-auto mt-12">
  <h1 class="font-bold text-lg my-4">Votre url courte pour:</h1>
  <div class= "flex flex-col justify-between items-start w-full mx-auto">
    <p class="mb-2"><span class="font-semibold">Url d'origine:</span> <%= @url.long_url %></p>
    <p><span class="font-semibold">Url courte:</span> <%= @tiny_url %></p>
  </div>
  <%= link_to t('.back'), short_urls_path, class: "bg-beige border border-beige font-semibold w-fit block mt-12 p-2 hover:bg-darkblue hover:text-white" %>
</section>
