<footer class="grid grid-cols-3 items-center justify-center w-screen h-h10 bg-darkblue">
  <%= link_to t('shared.footer.about'), about_path, class: "font-bold mr-4 text-white text-center" %>
  <p class="text-white font-bold"></p>
  <a href="mailto:contact@shared-tools.online" class="text-white text-center font-bold ">Contact</a>
</footer>
