<div class="grid grid-cols-3 items-center justify-center w-screen h-fit bg-gray-100">
  <%= image_tag 'tools.png', class: "w-12 object-fit m-4"%>
  <div class="flex justify-center">
    <p class="font-bold">MES OUTILS PARTAGÉS</p>
  </div>
  <% if user_signed_in? %>
    <%= link_to t('shared.logout'), destroy_user_session_path, data: { turbo_method: "delete" }, class: "font-bold mr-4 justify-self-end" %>
  <% else %>
    <div class="flex justify-end">
      <%= link_to t('shared.login'), user_session_path, class: "font-bold mr-4 justify-self-end" %>
      <%= link_to t('shared.signup'), new_user_session_path,  class: "font-bold mr-4 justify-self-end" %>
    </div>
  <% end %>
</div>
