<section class="about-container flex flex-col w-8/12 h-3/4 mx-auto mt-12">
  <h1 class="font-bold"><%= t '.title' %></h1>
  <h2 class="my-8"><%= t '.resources' %></h2>
  <a href="https://www.flaticon.com/fr/icones-gratuites/www" title="www icônes">Www icônes créées par phatplus - Flaticon</a>
  <a href="https://www.flaticon.com/fr/icones-gratuites/installation" title="installation icônes">Installation icônes créées par Freepik - Flaticon</a>
  <a href="https://www.flaticon.com/fr/icones-gratuites/rss" title="rss icônes">Rss icônes créées par Freepik - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by Good Ware - Flaticon</a>
  <%#= link_to t('pages.about.back'), root_path, class:"bg-beige border border-beige font-semibold w-fit mt-28 p-2 hover:bg-darkblue hover:text-white"%>
  <h2>Stack utilisée sur ce site</h2>
  <ul>
    <li>Ruby 3.2.1</li>
    <li>Rails 7.0.8</li>

  </ul>
</section>

