<div class="w-8/12 mx-auto py-12">
    <h2 class="font-semibold text-lg"><%= t'.new_planned_transaction' %></h2>
    <%= render 'form', planned_transaction: @planned_transaction %>
    <%= image_tag 'budget.png', class: "max-h-36 mx-auto mt-12 opacity-30" %>
</div>
