<section class="account-container w-1/2 mx-auto py-12">
  <h1 class="font-bold text-lg my-4"><%= t '.title'%></h1>
  <%= render 'form', account: @account %>
  <%= image_tag 'budget.png', class: "max-h-36 mx-auto mt-12 opacity-30" %>
</section>
